{% load static %}
{% load filters %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'updd/css/mycss.css' %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid" style="height:inherit">
    <div class="row"  style="height:inherit">
        <div class="col-md-2 left-navbar"  style="height:inherit">
        <img src={% static 'updd/img/logoaphp.png' %} class="img-thumbnail" alt="Logo APHP">
            <div class="d-flex justify-content-center mb-3"  style="padding-top:1.8rem;">
                {% if request.user|has_group:"medecin" %}
                    <div class="p-2 person-role-div">Médecin</div>
                {% elif request.user|has_group:"secretaire" %}
                    <div class="p-2 person-role-div">Secrétaire, test</div>
                {% elif request.user|has_group:"infirmier" %}
                    <div class="p-2 person-role-div">Infirmier.ère</div>
                {% else %}
                    <div class="p-2 person-role-div">Aucun rôle</div>
                {% endif %}
              </div>
            <hr>
            <div class="row">
                <table>
                    <tr>
                        <div class="col-xs-6"> <button data-toggle="tooltip" title="Messagerie" type="button" class="btn"><i class="fa fa-envelope" aria-hidden="true"></i></button></div>
                        <th><div class="col-xs-6"> <button data-toggle="tooltip" title="Paramètres" type="button" class="btn"><i class="fa fa-cog" aria-hidden="true"></i></button></div>
                </th>
                    </tr>
                    <tr>
                        <div class="col-xs-6"> <button data-toggle="tooltip" title="Déconnexion" type="button" class="btn"><i class="fa fa-power-off"></i></button></div>
                </th>
                        <th> <div class="col-xs-6"> <button data-toggle="tooltip" title="Notification" type="button" class="btn"><i class="fa fa-circle"></i></button></div>
            </th>
                    </tr>
                </table>
               </div>
        </div>
        <div class="col-md-10">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>