html, body {
 height : 100%;
}

.left-navbar {
    background-color :#5189e2;
    height: 100%;
    padding-top: 10px;
}


.left-navbar a {
    color : white !important;
}

.left-navbar a:hover {
    text-decoration: underline
}

.person-role-div {
    background-color : #6394e2;
    border-radius : 2px;
}

.shortcut-button {
    background-color : white;
}

.shortcut-button:hover {
    background-color : #bec1c6;
}